<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/perfil.css"> <!-- Si ya tienes uno personalizado -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-image: url('https://i.ytimg.com/vi/t8qRg4wDJKQ/oardefault.jpg?sqp=-oaymwEkCJUDENAFSFqQAgHyq4qpAxMIARUAAAAAJQAAyEI9AICiQ3gB&rs=AOn4CLA7Ge2RQHtykJIhft5AO7TAcfb1Zg'); /* Imagen de cielo estrellado */
            color: white;
            text-align: center;
        }

        h1 {
            color: #7e57c2; /* Morado */
        }
    </style>
</head>
<body>
    <h1>Ya vienen por ti los municipales</h1>
    <p>Hubo un error</p>
    <div class="navigation-buttons">
        <a href="/home" class="back-button">Volver al inicio</a>
    </div>
</body>
</html>
